{% extends 'base.html.twig' %}

{% block title %}
	Modification du mot de passe
{% endblock %}

{% block body %}
	<div class="container edit-password-container">
		<div class="alert bg-alert text-center mt-5">
			<h1 class="alert-heading mb-3">Modification du mot de passe</h1>
			<hr id="divider-editPassword">
			<p class="mb-0">
				<i class="fas fa-arrow-circle-left"></i>
			<a href="{{ path('my_account') }}">Retour</a>
			</p>
		</div>
		<hr>
		<div class="col-md-6 mx-auto">
			{{ form_start(form) }}
			<h4 class="mt-4">Informations générales</h4>
			{{ form_row(form.lastName) }}
			{{ form_row(form.firstName) }}
			{{ form_row(form.email) }}
			<h4 class="mt-4">Nouveau mot de passe</h4>
			{{ form_row(form.old_password) }}
			{{ form_row(form.new_password) }}
			<button class="btn-edit-password mt-4">Mettre à jour</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
