<footer class="footer-presta-doc">
	<div class="container">
		<div class="pt-5 pb-5">
			<div class="footer-icon">
				<div>
					<i class="fas fa-phone"></i>
					<h4>Me joindre</h4>
					<span>06.30.61.13.38</span>
					<hr class="hr-footer">
				</div>
				<div>
					<i class="far fa-envelope-open"></i>
					<h4>Me contacter</h4>
					<span>contact@presta-doc.fr</span>
				</div>
			</div>
		</div>
		<div class="footer-content pt-4 pb-4">
			<div class="footer-logo text-center">
				<img class="logo-presta-doc" src="{{ asset('images/logo/presta-doc.png') }}" alt="">
			</div>
		</div>
	</div>
	<div class="copyright-area">
		<div class="footer-menu">
			<ul>
				<li><a href="{{path('legal_notice')}}">Politique de confidentialité</a></li>
				<li><a href="{{path('legal_notice')}}">Mentions légales</a></li>
				<li><a href="{{path('contact')}}">Contact</a></li>
				<li><a href="{{path('cgv')}}">CGV</a></li>
			</ul>
		</div>
		<div class="copyright-text">
			<p>Copyright &copy;
				<strong id="year-copyright">2020</strong>
				, Tous droits réservés</p>
		</div>
	</div>
</footer>
