{% extends 'base.html.twig' %}

{% block title %}
	Me contacter
{% endblock %}

{% block body %}
	<div class="container mt-4 contact-container">
		<div class="alert bg-alert text-center">
			<h1 class="alert-heading mb-3">Me contacter</h1>
			<hr id="divider-contact">
			<p class="mb-0">
				Laissez votre message en remplissant ce formulaire de contact, une réponse vous sera apporté dans les plus brefs délais.
			</p>
		</div>
		<hr>
		<div class="col">
			{{ form_start(form)}}
			<div class="form-group">
				<div class="col-10 mx-auto">
					<i class="fa fa-user bigicon"></i>
					{{ form_widget(form.lastName|e)}}
				</div>
			</div>
			<div class="form-group">
				<div class="col-10 mx-auto">
					<i class="fa fa-user bigicon"></i>
					{{ form_widget(form.firstName|e)}}
				</div>
			</div>
			<div class="form-group">
				<div class="col-10 mx-auto">
					<i class="fa fa-phone-square bigicon"></i>
					{{ form_widget(form.phone|e)}}
				</div>
			</div>
			<div class="form-group">
				<div class="col-10 mx-auto">
					<i class="fa fa-envelope-o bigicon"></i>
					{{ form_widget(form.email|e)}}
				</div>
			</div>
			<div class="form-group">
				<div class="col-10 mx-auto">
					<i class="fa fa-pencil-square-o bigicon"></i>
					{{ form_widget(form.content|e)}}
				</div>
			</div>
			<div class="col-10 mx-auto">
				<button type="submit" class="btn-contact">
					<i class="fas fa-check"></i>
					Envoyez votre message
				</button>
			</div>
			{{ form_end(form)}}

		</div>
	</div>
{% endblock %}
